<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>registration</title>
</head>
<body>
<form action="/registration" method="post">
    <lable>User name: </lable><input type="text" name="name">
    <lable>Email: </lable><input type="email" name="email">
    <lable>Password: </lable><input type="password" name="password">
    <input type="submit" value="OK">
</form>
</body>
</html>
